<div class="jumbotron">
    <p><strong> <%= l(Date.today) %></strong></p>
  <h1 class="display-4"><%= t('welcome')%></h1>
  <p class="lead">Esse é o <%= nome_aplicacao %>, para você cadastrar suas moedas e visualizar.</p>
  <hr class="my-4">
  <p>Para começar, selecione uma das opções abaixo:</p>
  <%= render "menu" %>
</div>
